.grid {
  position: relative;
  border: solid 1px black;
  margin: 0 auto;
}

.console {
  position: relative;
  text-align: center;
  font-size: larger;  
}

.player {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blueviolet;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}