.grid {
  position: relative;
  border: solid 1px black;
  margin: 0 auto;
}

.console {
  position: relative;
  text-align: center;
  font-size: larger;  
}

.player {
  position: absolute;
}

.brick {
  position: absolute;
}

.ball {
  position: absolute;
  border-radius: 10px;
}