@font-face {
  font-family: gameFont;
  src: url(./fonts/font.ttf);
}

.text {
  font-family: gameFont;
  font-size: 25px;
  font-weight: 600;
}

#hint {
  align-items: center;
  display: grid;
  justify-content: center;
}

body {
  display: grid;
  justify-content: center;
  margin: 0 auto;

  width: 100vw;
  height: 100vh;
  align-content: center;
}

.selected {
  color: mediumblue;
}

.main-menu, .pause-menu {
  display: grid;
  align-content: center;
  justify-items: center;
}

.top-bar {
  justify-content: space-between;
  display: none;
}

.top-bar div {
  display: flex;
}

.grid {
  position: relative;
  border: solid 1px black;
}

.console {
  position: relative;
  text-align: center;
  font-size: larger;
  display: block;  
}

.player {
  position: absolute;
}

.brick {
  position: absolute;
}

.ball {
  position: absolute;
  border-radius: 10px;
}